.bodyIndex {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 30vh 70vh;
    &__header {
        background-color: darkolivegreen;
        width: 100%;
        height: auto;
        @include disFC;
        grid-column: 1/2;
        &__logo {
            width: 100%;
            height: auto;
            @include disFC;
            &__prop {
                width: 90%;
            }                
        }
    }
    &__botones {
        background-color: darkolivegreen;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        grid-row: 2/3;
        &__prop {
            background-color: chocolate;
            width: 95%;
            height: 45px;
            border: 0.7vh solid black;
            border-radius: 2vh;
        }
    }
    &__ventanas {
        background-color: darkolivegreen;
        width: 100%;
        height: auto;
        @include disFC;
        flex-direction: column;
        grid-column: 2/3;
        grid-row: -3/-1;
        &__nuevaVenta {
            background-color: darkolivegreen;
            width: 90%;
            height: 45vh;
            @include disFC;  
            border: 0.5vh solid darkslategray;
            border-radius: 0.5vh;  
            box-shadow: 0px 0px 0px 2px;
            padding: 1vh 2vh;
            display: none;
            &__divBuscador {
                width: 100%;
                height: auto;
                @include disFC; 
                flex-direction: column;
                &__buscador {
                    background-color: antiquewhite;
                    width: 70%;
                    height: auto;
                    font-family: 'Roboto Mono', monospace;
                    text-align: center;
                    border: 0.5vh solid black;
                    border-radius: 0.5vh;
                }
            }
            &__labelsInputsBtn {
                width: 100%;
                height: auto;
                display: grid;
                grid-template-columns: 80% 20%;
                grid-template-rows: 1fr 1fr;
                padding-bottom: 2vh;
                &__labels {
                    width: 100%;
                    height: auto;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-template-rows: 1fr;
                    font-size: 14px;
                    font-family: 'Roboto Mono', monospace;  
                    justify-items: center;
                    align-items: center;
                    color: white;
                }
                &__inputs {
                    width: 100%;
                    height: auto;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-template-rows: 1fr;
                    grid-column: 1/2;
                    grid-row: 2/3;
                    &__prop {
                        background-color: antiquewhite;
                        width: 90%;
                        height: 20px;
                        @include disFC;
                        border: 0.3vh solid black;
                        border-radius: 0.5vh;
                        text-align: center;
                        font-family: 'Roboto Mono', monospace;      
                        font-size: 12px;
                        justify-self: center;
                        
                    }
                }
                &__btnBorrarProd {
                    width: 100%;
                    height: auto;
                    @include disFC;
                    grid-column: 2/3;
                    grid-row: 1/3;
                    &__prop {
                        background-color: chocolate;
                        border-radius: 2vh;
                        font-size: 10px;
                        font-weight: bold;
                        font-family: 'Roboto Mono', monospace;  
                        padding: 0.2vh 4vh;
                    }
                }
            }
            &__divTablaNuevaVenta {
                width: 100%;
                height: auto;
                @include disFC;
                flex-direction: column;
                &__tabla {
                    background-color: burlywood;
                    width: 90%;
                    height: 27vh;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    border: 0.3vh solid black;
                    border-radius: 0.5vh;
                    &__propProducto {
                        background-color: chocolate;
                        width: 100%;
                        height: auto;
                        display: grid;
                        grid-template-columns: 98% 2%;
                        grid-template-rows: 1fr;
                        justify-items: center;
                        align-items: center;
                        padding: 1vh 0vh;
                        font-size: 10px;
                        font-family: 'Roboto Mono', monospace;  
                        border-bottom: 0.3vh solid black;  
                        &__headerTablaNuevaV {
                            width: 100%;
                            height: auto;
                            display: grid;
                            grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
                            grid-template-rows: 1fr;
                            &__bor {
                                width: 100%;
                                height: auto;
                                @include disFC;
                                border-right: 0.3vh solid black;
                            }
                            &__total {
                                width: 100%;
                                height: auto;
                                @include disFC;
                            }
                        }
                    }
                    &__tablaProdIngresados {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        overflow: scroll;
                    }
                    &__productoIngresado {
                        background-color: wheat;
                        width: 100%;
                        height: auto;
                        display: grid;
                        grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
                        grid-template-rows: 1fr;
                        justify-items: center;
                        align-items: center;
                        padding: 1vh 0vh;
                        font-size: 10px;
                        font-family: 'Roboto Mono', monospace;  
                        border-bottom: 0.3vh solid black;
                        //display: none; 
                        &:hover {
                            background-color: chocolate;
                        }
                        &__bor {
                            width: 100%;
                            height: auto;
                            @include disFC;
                            border-right: 0.3vh solid black;
                        }
                    }
                }
            }
        }
        &__nuevaVentaPago {
            background-color: darkolivegreen;
            width: 90%;
            height: 35vh;
            border: 0.5vh solid darkslategray;
            border-radius: 0.5vh;  
            box-shadow: 0px 0px 0px 2px;
            margin-top: 2vh;
            padding: 2vh 2vh;
            &__titulo {
                background-color: chocolate;
                font-family: 'Roboto Mono', monospace; 
                color: black;
                text-align: center;
                border: 0.3vh solid black;
                padding: 0.5vh;
            }
            &__datos {
                width: 100%;
                height: auto;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr;
                padding: 1vh 1vh 3vh 1vh;
                &__columnas {
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 2vh;
                    &__labelsPago {
                        font-family: 'Roboto Mono', monospace;
                        font-size: 15px;
                        color: white;
                    }                    
                    &__inputDni {
                        background-color: antiquewhite;
                        width: 60%;
                        height: 20px;
                        border: 0.3vh solid black;
                        border-radius: 0.5vh;
                        font-family: 'Roboto Mono', monospace;
                        text-align: center;
                    }
                    &__inputNombre {
                        background-color: antiquewhite;
                        width: 60%;
                        height: 20px;
                        @include disFC;
                        border: 0.3vh solid black;
                        border-radius: 0.5vh;
                        text-align: center;
                        font-family: 'Roboto Mono', monospace;
                        font-size: 11px;
                        
                    }
                    &__selectTipoPago {
                        background-color: antiquewhite;
                        width: 60%;
                        height: 23px;
                        border: 0.3vh solid black;
                        border-radius: 0.5vh;
                        text-align: center;
                    }
                    &__labelSaldo {
                        font-family: 'Roboto Mono', monospace;
                        font-size: 23px;
                        color: white;
                        text-align: center;
                    }
                    &__divSaldo {
                        width: 100%;
                        height: auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 2vh;
                        font-family: 'Roboto Mono', monospace;
                        font-size: 20px;
                        color: white;
                    }
                    &__btnConfirmarVenta {
                            width: 100%;
                            height: auto;
                            @include disFC;
                        &__prop {
                            background-color: chocolate;
                            width: 70%;
                            height: auto;
                            font-family: 'Roboto Mono', monospace;
                            border-radius: 2vh;
                            padding: 1.5vh 0vh;
                        }
                    }                    
                }
            }
        }
        &__productos {
            background-color: darkolivegreen;
            width: 90%;
            height: auto;
            display: grid;
            grid-template-columns: 70% 30%;
            grid-template-rows: 10% 90%;  
            border: 0.5vh solid darkslategray;
            border-radius: 0.5vh;
            box-shadow: 0px 0px 0px 2px;
            padding: 2vh;
            display: none;
            &__titulo {
                width: 100%;
                height: auto;
                @include disFC;
                &__prop {
                    width: 80%;
                    height: auto;
                    @include disFC;
                    font-family: 'Roboto Mono', monospace; 
                    border-bottom: 0.3vh solid black;
                }               
            }
            &__form {
                width: 100%;
                height: auto;
                @include disFC;
                flex-direction: column;
                padding-bottom: 1.5vh;  
                grid-column: 2/3;
                grid-row: 1/3;              
                &__prop {
                    width: 80%;
                    height: auto;  
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    gap: 1vh;
                    &__labelsInputs {
                        width: 100%;
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        &__labels {
                            width: 100%;
                            height: auto;
                            font-size: 10px;
                            font-family: 'Roboto Mono', monospace; 
                            padding: 0.5vh 0vh;
                        }
                        &__inputs {
                            background-color: antiquewhite;
                            width: 100%;
                            height: 20px;
                            text-align: center;
                            border: 0.3vh solid black;
                            border-radius: 0.5vh;
                            font-size: 11px;
                            font-family: 'Roboto Mono', monospace;
                        }
                    } 
                    &__btnProductos {
                        height: 30px;
                        background-color: chocolate;
                        border: 0.5vh solid black;
                        border-radius: 0.7vh;
                        font-family: 'Roboto Mono', monospace;
                        font-size: 11px;
                    }                 
                }                
            }            
            &__divTablaVentanaProd {
                width: 100%;
                height: auto;
                @include disFC;
                flex-direction: column;
                gap: 2vh;
                &__buscador {
                    width: 100%;
                    height: auto;
                    @include disFC;
                    padding: 0vh 0vh 2vh 0vh;
                    &__prop {
                        background-color: antiquewhite;
                        width: 75%;
                        height: 20px;
                        text-align: center;
                        font-family: 'Roboto Mono', monospace;
                        font-size: 11px;
                        border: 0.5vh solid black;
                        border-radius: 0.5vh;
                    }
                }
                &__tabla {
                    background-color: burlywood;
                    width: 95%;
                    height: 55vh;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    border: 0.3vh solid black;
                    border-radius: 0.5vh;
                    &__propProducto {
                        background-color: chocolate;
                        width: 100%;
                        height: auto;
                        display: grid;
                        grid-template-columns: 97.5% 3%;
                        grid-template-rows: 1fr;
                        justify-items: center;
                        align-items: center;
                        padding: 1vh 0vh;
                        font-size: 10px;
                        font-family: 'Roboto Mono', monospace;  
                        border-bottom: 0.3vh solid black;  
                        text-align: center;
                        &__headerTabla {
                            width: 100%;
                            height: auto;
                            display: grid;
                            grid-template-columns: 1fr 2fr 1fr 1fr 1.5fr;
                            grid-template-rows: 1fr;
                            &__bor {
                                width: 100%;
                                height: auto;
                                @include disFC;
                                border-right: 0.3vh solid black;
                            }
                        }
                        &__scrollSpace {
                            width: 100%;
                            height: auto;
                        }
                    }
                    &__tablaListaProductos {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        overflow: scroll;
                        &__producto {
                            background-color: wheat;
                            width: 100%;
                            height: auto;
                            display: grid;
                            grid-template-columns: 1fr 2fr 1fr 1fr 1.5fr;
                            grid-template-rows: 1fr;
                            justify-items: center;
                            align-items: center;
                            padding: 1vh 0vh;
                            font-size: 8px;
                            font-family: 'Roboto Mono', monospace;  
                            border-bottom: 0.3vh solid black; 
                            &:hover {
                                background-color: chocolate;
                            }
                            &__bor {
                                width: 100%;
                                height: auto;
                                @include disFC;
                                border-right: 0.3vh solid black;
                            }
                        }
                    }
                }                
            }
        }
        &__clientes {
            background-color: darkolivegreen;
            width: 90%;
            height: auto;
            display: grid;
            grid-template-columns: 70% 30%;
            grid-template-rows: 10% 90%;  
            border: 0.5vh solid darkslategray;
            border-radius: 0.5vh;
            box-shadow: 0px 0px 0px 2px;
            padding: 2vh;
            display: none;
            &__titulo {
                width: 100%;
                height: auto;
                @include disFC;
                &__prop {
                    width: 80%;
                    height: auto;
                    @include disFC;
                    font-family: 'Roboto Mono', monospace; 
                    border-bottom: 0.3vh solid black;
                }               
            }
            &__form {
                width: 100%;
                height: auto;
                @include disFC;
                flex-direction: column;
                padding-bottom: 1.5vh;  
                grid-column: 2/3;
                grid-row: 1/3;              
                &__prop {
                    width: 80%;
                    height: auto;  
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    gap: 1vh;
                    &__labelsInputs {
                        width: 100%;
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        &__labels {
                            width: 100%;
                            height: auto;
                            font-size: 10px;
                            font-family: 'Roboto Mono', monospace; 
                            padding: 0.5vh 0vh;
                        }
                        &__inputs {
                            background-color: antiquewhite;
                            width: 100%;
                            height: 20px;
                            text-align: center;
                            border: 0.3vh solid black;
                            border-radius: 0.5vh;
                            font-size: 11px;
                            font-family: 'Roboto Mono', monospace;
                        }
                    } 
                    &__btnClientes {
                        height: 30px;
                        background-color: chocolate;
                        border: 0.5vh solid black;
                        border-radius: 0.7vh;
                        font-family: 'Roboto Mono', monospace;
                        font-size: 11px;
                    }                 
                }                
            }            
            &__divTablaVentanaClien {
                width: 100%;
                height: auto;
                @include disFC;
                flex-direction: column;
                gap: 2vh;
                &__buscador {
                    width: 100%;
                    height: auto;
                    @include disFC;
                    padding: 0vh 0vh 2vh 0vh;
                    &__prop {
                        background-color: antiquewhite;
                        width: 75%;
                        height: 20px;
                        text-align: center;
                        font-family: 'Roboto Mono', monospace;
                        font-size: 11px;
                        border: 0.5vh solid black;
                        border-radius: 0.5vh;
                    }
                }
                &__tabla {
                    background-color: burlywood;
                    width: 100%;
                    height: 55vh;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    border: 0.3vh solid black;
                    border-radius: 0.5vh;
                    &__propCliente {
                        background-color: chocolate;
                        width: 100%;
                        height: auto;
                        display: grid;
                        grid-template-columns: 97.5% 3%;
                        grid-template-rows: 1fr;
                        justify-items: center;
                        align-items: center;
                        padding: 1vh 0vh;
                        font-size: 10px;
                        font-family: 'Roboto Mono', monospace;  
                        border-bottom: 0.3vh solid black;  
                        text-align: center;
                        &__headerTabla {
                            width: 100%;
                            height: auto;
                            display: grid;
                            grid-template-columns: 1.5fr 0.7fr 0.8fr 2fr 1fr;
                            grid-template-rows: 1fr;
                            &__bor {
                                width: 100%;
                                height: auto;
                                @include disFC;
                                border-right: 0.3vh solid black;
                            }
                        }
                        &__scrollSpace {
                            width: 100%;
                            height: auto;
                        }
                    }
                    &__tablaListaClientes {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        overflow: scroll;
                        &__cliente {
                            background-color: wheat;
                            width: 100%;
                            height: auto;
                            display: grid;
                            grid-template-columns: 1.5fr 0.7fr 0.8fr 2fr 1fr;
                            grid-template-rows: 1fr;
                            justify-items: center;
                            align-items: center;
                            padding: 1vh 0vh;
                            font-size: 7px;
                            font-family: 'Roboto Mono', monospace;  
                            border-bottom: 0.3vh solid black; 
                            &:hover {
                                background-color: chocolate;
                            }
                            &__bor {
                                width: 100%;
                                height: auto;
                                @include disFC;
                                border-right: 0.3vh solid black;
                            }
                        }
                    }
                }                
            }
        }
        &__proveedores {
            background-color: darkolivegreen;
            width: 90%;
            height: auto;
            display: grid;
            grid-template-columns: 70% 30%;
            grid-template-rows: 10% 90%;  
            border: 0.5vh solid darkslategray;
            border-radius: 0.5vh;
            box-shadow: 0px 0px 0px 2px;
            padding: 2vh;
            display: none;
            &__titulo {
                width: 100%;
                height: auto;
                @include disFC;
                &__prop {
                    width: 80%;
                    height: auto;
                    @include disFC;
                    font-family: 'Roboto Mono', monospace; 
                    border-bottom: 0.3vh solid black;
                }               
            }
            &__form {
                width: 100%;
                height: auto;
                @include disFC;
                flex-direction: column;
                padding-bottom: 1.5vh;  
                grid-column: 2/3;
                grid-row: 1/3;              
                &__prop {
                    width: 80%;
                    height: auto;  
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    gap: 1vh;
                    &__labelsInputs {
                        width: 100%;
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        &__labels {
                            width: 100%;
                            height: auto;
                            font-size: 10px;
                            font-family: 'Roboto Mono', monospace; 
                            padding: 0.5vh 0vh;
                        }
                        &__inputs {
                            background-color: antiquewhite;
                            width: 100%;
                            height: 20px;
                            text-align: center;
                            border: 0.3vh solid black;
                            border-radius: 0.5vh;
                            font-size: 11px;
                            font-family: 'Roboto Mono', monospace;
                        }
                    } 
                    &__btnProveedores {
                        height: 30px;
                        background-color: chocolate;
                        border: 0.5vh solid black;
                        border-radius: 0.7vh;
                        font-family: 'Roboto Mono', monospace;
                        font-size: 11px;
                    }                 
                }                
            }            
            &__divTablaVentanaProv {
                width: 100%;
                height: auto;
                @include disFC;
                flex-direction: column;
                gap: 2vh;
                &__buscador {
                    width: 100%;
                    height: auto;
                    @include disFC;
                    padding: 0vh 0vh 2vh 0vh;
                    &__prop {
                        background-color: antiquewhite;
                        width: 75%;
                        height: 20px;
                        text-align: center;
                        font-family: 'Roboto Mono', monospace;
                        font-size: 11px;
                        border: 0.5vh solid black;
                        border-radius: 0.5vh;
                    }
                }
                &__tabla {
                    background-color: burlywood;
                    width: 95%;
                    height: 55vh;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    border: 0.3vh solid black;
                    border-radius: 0.5vh;
                    &__propProveedores {
                        background-color: chocolate;
                        width: 100%;
                        height: auto;
                        display: grid;
                        grid-template-columns: 97.5% 3%;
                        grid-template-rows: 1fr;
                        justify-items: center;
                        align-items: center;
                        padding: 1vh 0vh;
                        font-size: 10px;
                        font-family: 'Roboto Mono', monospace;  
                        border-bottom: 0.3vh solid black;  
                        text-align: center;
                        &__headerTabla {
                            width: 100%;
                            height: auto;
                            display: grid;
                            grid-template-columns: 1.2fr 1fr 1fr 1.7fr 1fr;
                            grid-template-rows: 1fr;
                            &__bor {
                                width: 100%;
                                height: auto;
                                @include disFC;
                                border-right: 0.3vh solid black;
                            }
                        }
                        &__scrollSpace {
                            width: 100%;
                            height: auto;
                        }
                    }
                    &__tablaListaProveedores {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        overflow: scroll;
                        &__proveedores {
                            background-color: wheat;
                            width: 100%;
                            height: auto;
                            display: grid;
                            grid-template-columns: 1.2fr 1fr 1fr 1.7fr 1fr;
                            grid-template-rows: 1fr;
                            justify-items: center;
                            align-items: center;
                            padding: 1vh 0vh;
                            font-size: 7.5px;
                            font-family: 'Roboto Mono', monospace;  
                            border-bottom: 0.3vh solid black; 
                            &:hover {
                                background-color: chocolate;
                            }
                            &__bor {
                                width: 100%;
                                height: auto;
                                @include disFC;
                                border-right: 0.3vh solid black;
                            }
                        }
                    }
                }                
            }
        }
        &__ventas {
            background-color: darkolivegreen;
            width: 90%;
            height: 80vh;
            display: grid;
            grid-template-columns: 5fr 1fr;
            grid-template-rows: 10% 90%;  
            border: 0.5vh solid darkslategray;
            border-radius: 0.5vh;
            box-shadow: 0px 0px 0px 2px;
            padding: 2vh;
            display: none;
            &__titulo {
                width: 100%;
                height: auto;
                @include disFC;
                grid-column: 1/2;
                grid-row: 1/2;
                font-size: 20px;
                font-family: 'Roboto Mono', monospace;  
            }
            &__btnSaldo {
                width: 100%;
                height: auto;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 50% 50%;
                grid-column: 2/3;
                grid-row: 1/3;
                &__btns {
                    width: 100%;
                    height: auto;
                    @include disFC;
                    flex-direction: column;
                    gap: 1vh;
                    padding-top: 10vh;
                    padding-left: 1vh;
                    &__btnBorrarVenta {
                        background-color: chocolate;
                        font-size: 12px;
                        font-family: 'Roboto Mono', monospace;
                        padding: 0.5vh 1vh;
                        border-radius: 1vh;
                    }
                    &__btnImprimirVenta {
                        background-color: chocolate;
                        font-size: 12px;
                        font-family: 'Roboto Mono', monospace;
                        padding: 0.5vh 3.5vh;
                        border-radius: 1vh;
                    }
                }
                &__divSaldo {
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    flex-direction: column;
                    padding-bottom: 4vh;
                    padding-left: 1vh;
                    &__prop {
                        background-color: wheat;
                        text-align: center;
                        font-size: 12px;
                        font-family: 'Roboto Mono', monospace;
                        padding: 2vh 2vh;
                        border: 0.5vh solid black;
                        border-radius: 0.5vh;
                    }
                }
            }
            &__buscadorTabla {
                width: 100%;
                height: auto;
                @include disFC;
                flex-direction: column;
                grid-column: 1/2;
                grid-row: 2/3;
                gap: 2vh;
                &__buscador {
                    width: 100%;
                    height: auto;
                    @include disFC;
                    &__input {
                        width: 100%;
                        height: auto;
                        @include disFC;
                        &__prop {
                            width: 70%;
                            height: 20px;
                            text-align: center;
                            letter-spacing: 0.5vh;
                            border: 0.5vh solid black;
                            border-radius: 0.5vh;
                        }
                    }
                } 
                &__tabla {
                    background-color: burlywood;
                    width: 100%;
                    height: auto;
                    border: 0.5vh solid black;
                    border-radius: 0.5vh;
                    &__headerScroll {
                        background-color: chocolate;
                        width: 100%;
                        height: auto;
                        display: grid;
                        grid-template-columns: 98% 2%;
                        grid-template-rows: 1fr;
                        justify-items: center;
                        align-items: center;
                        padding: 1vh 0vh;
                        font-size: 10px;
                        font-family: 'Roboto Mono', monospace;  
                        border-bottom: 0.3vh solid black;  
                        text-align: center;
                        &__header {
                            width: 100%;
                            height: auto;
                            display: grid;
                            grid-template-columns: 1fr 1fr 1.5fr 1.5fr 1fr;
                            grid-template-rows: 1fr;
                            &__prop {
                                width: 100%;
                                height: auto;
                                @include disFC;
                                border-right: 0.3vh solid black;
                            }
                        }
                        &__scroll {
                            width: 100%;
                            height: auto;
                        }
                    }
                    &__tablaListaVentas {
                        width: 100%;
                        height: 55vh;
                        display: flex;
                        flex-direction: column;
                        overflow: scroll;
                        &__ventas {
                            background-color: wheat;
                            width: 100%;
                            height: auto;
                            display: grid;
                            grid-template-columns: 1fr 1fr 1.5fr 1.5fr 1fr;
                            grid-template-rows: 1fr;
                            justify-items: center;
                            align-items: center;
                            padding: 1vh 0vh;
                            font-size: 7.5px;
                            font-family: 'Roboto Mono', monospace;  
                            border-bottom: 0.3vh solid black; 
                            &:hover {
                                background-color: chocolate;
                            }
                            &__prop {
                                width: 100%;
                                height: auto;
                                @include disFC;
                                border-right: 0.3vh solid black;
                            }
                            &__detalle {
                                width: 100%;
                                height: auto;
                                @include disFC;
                                border-right: 0.3vh solid black;
                                &__prop {
                                    width: 60%;
                                    height: 3vh;
                                    font-size: 7px;
                                    font-weight: bold;
                                    border-radius: 0.3vh; 
                                    border-color: black;
                                    border-radius: 0.3vh;
                                }
                            }
                        }
                    }
                }               
            }
        }
        &__acercaDe {
            background-color: darkolivegreen;
            width: 90%;
            height: 70vh;
            @include disFC;
            border: 0.5vh solid darkslategray;
            border-radius: 0.5vh;
            box-shadow: 0px 0px 0px 2px;
            display: none;
            &__datosEmpresa {
                width: 90%;
                height: auto;
                border: 0.5vh solid black;
                border-radius: 0.5vh;
                &__titulo {
                    background-color: chocolate;
                    width: 100%;
                    height: auto;
                    @include disFC;
                    font-size: 25px;
                    font-family: 'Roboto Mono', monospace;
                    border-bottom: 0.5vh solid black;
                }
                &__divDatos {
                    background-color: wheat;
                    width: 100%;
                    height: auto;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr;
                    &__datos {
                        width: 100%;
                        height: auto;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        font-size: 16px;
                        font-family: 'Roboto Mono', monospace;
                        padding: 7vh 0vh;
                        gap: 2vh;
                        &__br {
                            background-color: black;
                            width: 80%;
                            height: 0.3vh;
                        }
                    }
                }
            }
        }
    }        
}