* {
  padding: 0;
  margin: 0;
}

.body {
  background-color: darkolivegreen;
}

.bodyIndex {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 30vh 70vh;
}
.bodyIndex__header {
  background-color: darkolivegreen;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/2;
}
.bodyIndex__header__logo {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bodyIndex__header__logo__prop {
  width: 90%;
}
.bodyIndex__botones {
  background-color: darkolivegreen;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  grid-row: 2/3;
}
.bodyIndex__botones__prop {
  background-color: chocolate;
  width: 95%;
  height: 45px;
  border: 0.7vh solid black;
  border-radius: 2vh;
}
.bodyIndex__ventanas {
  background-color: darkolivegreen;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-column: 2/3;
  grid-row: -3/-1;
}
.bodyIndex__ventanas__nuevaVenta {
  background-color: darkolivegreen;
  width: 90%;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5vh solid darkslategray;
  border-radius: 0.5vh;
  box-shadow: 0px 0px 0px 2px;
  padding: 1vh 2vh;
  display: none;
}
.bodyIndex__ventanas__nuevaVenta__divBuscador {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bodyIndex__ventanas__nuevaVenta__divBuscador__buscador {
  background-color: antiquewhite;
  width: 70%;
  height: auto;
  font-family: "Roboto Mono", monospace;
  text-align: center;
  border: 0.5vh solid black;
  border-radius: 0.5vh;
}
.bodyIndex__ventanas__nuevaVenta__labelsInputsBtn {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 1fr 1fr;
  padding-bottom: 2vh;
}
.bodyIndex__ventanas__nuevaVenta__labelsInputsBtn__labels {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  font-size: 14px;
  font-family: "Roboto Mono", monospace;
  justify-items: center;
  align-items: center;
  color: white;
}
.bodyIndex__ventanas__nuevaVenta__labelsInputsBtn__inputs {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column: 1/2;
  grid-row: 2/3;
}
.bodyIndex__ventanas__nuevaVenta__labelsInputsBtn__inputs__prop {
  background-color: antiquewhite;
  width: 90%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.3vh solid black;
  border-radius: 0.5vh;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  justify-self: center;
}
.bodyIndex__ventanas__nuevaVenta__labelsInputsBtn__btnBorrarProd {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2/3;
  grid-row: 1/3;
}
.bodyIndex__ventanas__nuevaVenta__labelsInputsBtn__btnBorrarProd__prop {
  background-color: chocolate;
  border-radius: 2vh;
  font-size: 10px;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  padding: 0.2vh 4vh;
}
.bodyIndex__ventanas__nuevaVenta__divTablaNuevaVenta {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bodyIndex__ventanas__nuevaVenta__divTablaNuevaVenta__tabla {
  background-color: burlywood;
  width: 90%;
  height: 27vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 0.3vh solid black;
  border-radius: 0.5vh;
}
.bodyIndex__ventanas__nuevaVenta__divTablaNuevaVenta__tabla__propProducto {
  background-color: chocolate;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 98% 2%;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  padding: 1vh 0vh;
  font-size: 10px;
  font-family: "Roboto Mono", monospace;
  border-bottom: 0.3vh solid black;
}
.bodyIndex__ventanas__nuevaVenta__divTablaNuevaVenta__tabla__propProducto__headerTablaNuevaV {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.bodyIndex__ventanas__nuevaVenta__divTablaNuevaVenta__tabla__propProducto__headerTablaNuevaV__bor {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 0.3vh solid black;
}
.bodyIndex__ventanas__nuevaVenta__divTablaNuevaVenta__tabla__propProducto__headerTablaNuevaV__total {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bodyIndex__ventanas__nuevaVenta__divTablaNuevaVenta__tabla__tablaProdIngresados {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.bodyIndex__ventanas__nuevaVenta__divTablaNuevaVenta__tabla__productoIngresado {
  background-color: wheat;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  padding: 1vh 0vh;
  font-size: 10px;
  font-family: "Roboto Mono", monospace;
  border-bottom: 0.3vh solid black;
}
.bodyIndex__ventanas__nuevaVenta__divTablaNuevaVenta__tabla__productoIngresado:hover {
  background-color: chocolate;
}
.bodyIndex__ventanas__nuevaVenta__divTablaNuevaVenta__tabla__productoIngresado__bor {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 0.3vh solid black;
}
.bodyIndex__ventanas__nuevaVentaPago {
  background-color: darkolivegreen;
  width: 90%;
  height: 35vh;
  border: 0.5vh solid darkslategray;
  border-radius: 0.5vh;
  box-shadow: 0px 0px 0px 2px;
  margin-top: 2vh;
  padding: 2vh 2vh;
}
.bodyIndex__ventanas__nuevaVentaPago__titulo {
  background-color: chocolate;
  font-family: "Roboto Mono", monospace;
  color: black;
  text-align: center;
  border: 0.3vh solid black;
  padding: 0.5vh;
}
.bodyIndex__ventanas__nuevaVentaPago__datos {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 1vh 1vh 3vh 1vh;
}
.bodyIndex__ventanas__nuevaVentaPago__datos__columnas {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2vh;
}
.bodyIndex__ventanas__nuevaVentaPago__datos__columnas__labelsPago {
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
  color: white;
}
.bodyIndex__ventanas__nuevaVentaPago__datos__columnas__inputDni {
  background-color: antiquewhite;
  width: 60%;
  height: 20px;
  border: 0.3vh solid black;
  border-radius: 0.5vh;
  font-family: "Roboto Mono", monospace;
  text-align: center;
}
.bodyIndex__ventanas__nuevaVentaPago__datos__columnas__inputNombre {
  background-color: antiquewhite;
  width: 60%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.3vh solid black;
  border-radius: 0.5vh;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-size: 11px;
}
.bodyIndex__ventanas__nuevaVentaPago__datos__columnas__selectTipoPago {
  background-color: antiquewhite;
  width: 60%;
  height: 23px;
  border: 0.3vh solid black;
  border-radius: 0.5vh;
  text-align: center;
}
.bodyIndex__ventanas__nuevaVentaPago__datos__columnas__labelSaldo {
  font-family: "Roboto Mono", monospace;
  font-size: 23px;
  color: white;
  text-align: center;
}
.bodyIndex__ventanas__nuevaVentaPago__datos__columnas__divSaldo {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  color: white;
}
.bodyIndex__ventanas__nuevaVentaPago__datos__columnas__btnConfirmarVenta {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bodyIndex__ventanas__nuevaVentaPago__datos__columnas__btnConfirmarVenta__prop {
  background-color: chocolate;
  width: 70%;
  height: auto;
  font-family: "Roboto Mono", monospace;
  border-radius: 2vh;
  padding: 1.5vh 0vh;
}
.bodyIndex__ventanas__productos {
  background-color: darkolivegreen;
  width: 90%;
  height: auto;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 10% 90%;
  border: 0.5vh solid darkslategray;
  border-radius: 0.5vh;
  box-shadow: 0px 0px 0px 2px;
  padding: 2vh;
  display: none;
}
.bodyIndex__ventanas__productos__titulo {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bodyIndex__ventanas__productos__titulo__prop {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Mono", monospace;
  border-bottom: 0.3vh solid black;
}
.bodyIndex__ventanas__productos__form {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1.5vh;
  grid-column: 2/3;
  grid-row: 1/3;
}
.bodyIndex__ventanas__productos__form__prop {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1vh;
}
.bodyIndex__ventanas__productos__form__prop__labelsInputs {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.bodyIndex__ventanas__productos__form__prop__labelsInputs__labels {
  width: 100%;
  height: auto;
  font-size: 10px;
  font-family: "Roboto Mono", monospace;
  padding: 0.5vh 0vh;
}
.bodyIndex__ventanas__productos__form__prop__labelsInputs__inputs {
  background-color: antiquewhite;
  width: 100%;
  height: 20px;
  text-align: center;
  border: 0.3vh solid black;
  border-radius: 0.5vh;
  font-size: 11px;
  font-family: "Roboto Mono", monospace;
}
.bodyIndex__ventanas__productos__form__prop__btnProductos {
  height: 30px;
  background-color: chocolate;
  border: 0.5vh solid black;
  border-radius: 0.7vh;
  font-family: "Roboto Mono", monospace;
  font-size: 11px;
}
.bodyIndex__ventanas__productos__divTablaVentanaProd {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2vh;
}
.bodyIndex__ventanas__productos__divTablaVentanaProd__buscador {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0vh 0vh 2vh 0vh;
}
.bodyIndex__ventanas__productos__divTablaVentanaProd__buscador__prop {
  background-color: antiquewhite;
  width: 75%;
  height: 20px;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-size: 11px;
  border: 0.5vh solid black;
  border-radius: 0.5vh;
}
.bodyIndex__ventanas__productos__divTablaVentanaProd__tabla {
  background-color: burlywood;
  width: 95%;
  height: 55vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 0.3vh solid black;
  border-radius: 0.5vh;
}
.bodyIndex__ventanas__productos__divTablaVentanaProd__tabla__propProducto {
  background-color: chocolate;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 97.5% 3%;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  padding: 1vh 0vh;
  font-size: 10px;
  font-family: "Roboto Mono", monospace;
  border-bottom: 0.3vh solid black;
  text-align: center;
}
.bodyIndex__ventanas__productos__divTablaVentanaProd__tabla__propProducto__headerTabla {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1.5fr;
  grid-template-rows: 1fr;
}
.bodyIndex__ventanas__productos__divTablaVentanaProd__tabla__propProducto__headerTabla__bor {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 0.3vh solid black;
}
.bodyIndex__ventanas__productos__divTablaVentanaProd__tabla__propProducto__scrollSpace {
  width: 100%;
  height: auto;
}
.bodyIndex__ventanas__productos__divTablaVentanaProd__tabla__tablaListaProductos {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.bodyIndex__ventanas__productos__divTablaVentanaProd__tabla__tablaListaProductos__producto {
  background-color: wheat;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1.5fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  padding: 1vh 0vh;
  font-size: 8px;
  font-family: "Roboto Mono", monospace;
  border-bottom: 0.3vh solid black;
}
.bodyIndex__ventanas__productos__divTablaVentanaProd__tabla__tablaListaProductos__producto:hover {
  background-color: chocolate;
}
.bodyIndex__ventanas__productos__divTablaVentanaProd__tabla__tablaListaProductos__producto__bor {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 0.3vh solid black;
}
.bodyIndex__ventanas__clientes {
  background-color: darkolivegreen;
  width: 90%;
  height: auto;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 10% 90%;
  border: 0.5vh solid darkslategray;
  border-radius: 0.5vh;
  box-shadow: 0px 0px 0px 2px;
  padding: 2vh;
  display: none;
}
.bodyIndex__ventanas__clientes__titulo {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bodyIndex__ventanas__clientes__titulo__prop {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Mono", monospace;
  border-bottom: 0.3vh solid black;
}
.bodyIndex__ventanas__clientes__form {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1.5vh;
  grid-column: 2/3;
  grid-row: 1/3;
}
.bodyIndex__ventanas__clientes__form__prop {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1vh;
}
.bodyIndex__ventanas__clientes__form__prop__labelsInputs {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.bodyIndex__ventanas__clientes__form__prop__labelsInputs__labels {
  width: 100%;
  height: auto;
  font-size: 10px;
  font-family: "Roboto Mono", monospace;
  padding: 0.5vh 0vh;
}
.bodyIndex__ventanas__clientes__form__prop__labelsInputs__inputs {
  background-color: antiquewhite;
  width: 100%;
  height: 20px;
  text-align: center;
  border: 0.3vh solid black;
  border-radius: 0.5vh;
  font-size: 11px;
  font-family: "Roboto Mono", monospace;
}
.bodyIndex__ventanas__clientes__form__prop__btnClientes {
  height: 30px;
  background-color: chocolate;
  border: 0.5vh solid black;
  border-radius: 0.7vh;
  font-family: "Roboto Mono", monospace;
  font-size: 11px;
}
.bodyIndex__ventanas__clientes__divTablaVentanaClien {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2vh;
}
.bodyIndex__ventanas__clientes__divTablaVentanaClien__buscador {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0vh 0vh 2vh 0vh;
}
.bodyIndex__ventanas__clientes__divTablaVentanaClien__buscador__prop {
  background-color: antiquewhite;
  width: 75%;
  height: 20px;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-size: 11px;
  border: 0.5vh solid black;
  border-radius: 0.5vh;
}
.bodyIndex__ventanas__clientes__divTablaVentanaClien__tabla {
  background-color: burlywood;
  width: 100%;
  height: 55vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 0.3vh solid black;
  border-radius: 0.5vh;
}
.bodyIndex__ventanas__clientes__divTablaVentanaClien__tabla__propCliente {
  background-color: chocolate;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 97.5% 3%;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  padding: 1vh 0vh;
  font-size: 10px;
  font-family: "Roboto Mono", monospace;
  border-bottom: 0.3vh solid black;
  text-align: center;
}
.bodyIndex__ventanas__clientes__divTablaVentanaClien__tabla__propCliente__headerTabla {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1.5fr 0.7fr 0.8fr 2fr 1fr;
  grid-template-rows: 1fr;
}
.bodyIndex__ventanas__clientes__divTablaVentanaClien__tabla__propCliente__headerTabla__bor {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 0.3vh solid black;
}
.bodyIndex__ventanas__clientes__divTablaVentanaClien__tabla__propCliente__scrollSpace {
  width: 100%;
  height: auto;
}
.bodyIndex__ventanas__clientes__divTablaVentanaClien__tabla__tablaListaClientes {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.bodyIndex__ventanas__clientes__divTablaVentanaClien__tabla__tablaListaClientes__cliente {
  background-color: wheat;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1.5fr 0.7fr 0.8fr 2fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  padding: 1vh 0vh;
  font-size: 7px;
  font-family: "Roboto Mono", monospace;
  border-bottom: 0.3vh solid black;
}
.bodyIndex__ventanas__clientes__divTablaVentanaClien__tabla__tablaListaClientes__cliente:hover {
  background-color: chocolate;
}
.bodyIndex__ventanas__clientes__divTablaVentanaClien__tabla__tablaListaClientes__cliente__bor {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 0.3vh solid black;
}
.bodyIndex__ventanas__proveedores {
  background-color: darkolivegreen;
  width: 90%;
  height: auto;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 10% 90%;
  border: 0.5vh solid darkslategray;
  border-radius: 0.5vh;
  box-shadow: 0px 0px 0px 2px;
  padding: 2vh;
  display: none;
}
.bodyIndex__ventanas__proveedores__titulo {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bodyIndex__ventanas__proveedores__titulo__prop {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Mono", monospace;
  border-bottom: 0.3vh solid black;
}
.bodyIndex__ventanas__proveedores__form {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1.5vh;
  grid-column: 2/3;
  grid-row: 1/3;
}
.bodyIndex__ventanas__proveedores__form__prop {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1vh;
}
.bodyIndex__ventanas__proveedores__form__prop__labelsInputs {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.bodyIndex__ventanas__proveedores__form__prop__labelsInputs__labels {
  width: 100%;
  height: auto;
  font-size: 10px;
  font-family: "Roboto Mono", monospace;
  padding: 0.5vh 0vh;
}
.bodyIndex__ventanas__proveedores__form__prop__labelsInputs__inputs {
  background-color: antiquewhite;
  width: 100%;
  height: 20px;
  text-align: center;
  border: 0.3vh solid black;
  border-radius: 0.5vh;
  font-size: 11px;
  font-family: "Roboto Mono", monospace;
}
.bodyIndex__ventanas__proveedores__form__prop__btnProveedores {
  height: 30px;
  background-color: chocolate;
  border: 0.5vh solid black;
  border-radius: 0.7vh;
  font-family: "Roboto Mono", monospace;
  font-size: 11px;
}
.bodyIndex__ventanas__proveedores__divTablaVentanaProv {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2vh;
}
.bodyIndex__ventanas__proveedores__divTablaVentanaProv__buscador {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0vh 0vh 2vh 0vh;
}
.bodyIndex__ventanas__proveedores__divTablaVentanaProv__buscador__prop {
  background-color: antiquewhite;
  width: 75%;
  height: 20px;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-size: 11px;
  border: 0.5vh solid black;
  border-radius: 0.5vh;
}
.bodyIndex__ventanas__proveedores__divTablaVentanaProv__tabla {
  background-color: burlywood;
  width: 95%;
  height: 55vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 0.3vh solid black;
  border-radius: 0.5vh;
}
.bodyIndex__ventanas__proveedores__divTablaVentanaProv__tabla__propProveedores {
  background-color: chocolate;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 97.5% 3%;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  padding: 1vh 0vh;
  font-size: 10px;
  font-family: "Roboto Mono", monospace;
  border-bottom: 0.3vh solid black;
  text-align: center;
}
.bodyIndex__ventanas__proveedores__divTablaVentanaProv__tabla__propProveedores__headerTabla {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr 1.7fr 1fr;
  grid-template-rows: 1fr;
}
.bodyIndex__ventanas__proveedores__divTablaVentanaProv__tabla__propProveedores__headerTabla__bor {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 0.3vh solid black;
}
.bodyIndex__ventanas__proveedores__divTablaVentanaProv__tabla__propProveedores__scrollSpace {
  width: 100%;
  height: auto;
}
.bodyIndex__ventanas__proveedores__divTablaVentanaProv__tabla__tablaListaProveedores {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.bodyIndex__ventanas__proveedores__divTablaVentanaProv__tabla__tablaListaProveedores__proveedores {
  background-color: wheat;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr 1.7fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  padding: 1vh 0vh;
  font-size: 7.5px;
  font-family: "Roboto Mono", monospace;
  border-bottom: 0.3vh solid black;
}
.bodyIndex__ventanas__proveedores__divTablaVentanaProv__tabla__tablaListaProveedores__proveedores:hover {
  background-color: chocolate;
}
.bodyIndex__ventanas__proveedores__divTablaVentanaProv__tabla__tablaListaProveedores__proveedores__bor {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 0.3vh solid black;
}
.bodyIndex__ventanas__ventas {
  background-color: darkolivegreen;
  width: 90%;
  height: 80vh;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 10% 90%;
  border: 0.5vh solid darkslategray;
  border-radius: 0.5vh;
  box-shadow: 0px 0px 0px 2px;
  padding: 2vh;
  display: none;
}
.bodyIndex__ventanas__ventas__titulo {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 20px;
  font-family: "Roboto Mono", monospace;
}
.bodyIndex__ventanas__ventas__btnSaldo {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50% 50%;
  grid-column: 2/3;
  grid-row: 1/3;
}
.bodyIndex__ventanas__ventas__btnSaldo__btns {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1vh;
  padding-top: 10vh;
  padding-left: 1vh;
}
.bodyIndex__ventanas__ventas__btnSaldo__btns__btnBorrarVenta {
  background-color: chocolate;
  font-size: 12px;
  font-family: "Roboto Mono", monospace;
  padding: 0.5vh 1vh;
  border-radius: 1vh;
}
.bodyIndex__ventanas__ventas__btnSaldo__btns__btnImprimirVenta {
  background-color: chocolate;
  font-size: 12px;
  font-family: "Roboto Mono", monospace;
  padding: 0.5vh 3.5vh;
  border-radius: 1vh;
}
.bodyIndex__ventanas__ventas__btnSaldo__divSaldo {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  padding-bottom: 4vh;
  padding-left: 1vh;
}
.bodyIndex__ventanas__ventas__btnSaldo__divSaldo__prop {
  background-color: wheat;
  text-align: center;
  font-size: 12px;
  font-family: "Roboto Mono", monospace;
  padding: 2vh 2vh;
  border: 0.5vh solid black;
  border-radius: 0.5vh;
}
.bodyIndex__ventanas__ventas__buscadorTabla {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-column: 1/2;
  grid-row: 2/3;
  gap: 2vh;
}
.bodyIndex__ventanas__ventas__buscadorTabla__buscador {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bodyIndex__ventanas__ventas__buscadorTabla__buscador__input {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bodyIndex__ventanas__ventas__buscadorTabla__buscador__input__prop {
  width: 70%;
  height: 20px;
  text-align: center;
  letter-spacing: 0.5vh;
  border: 0.5vh solid black;
  border-radius: 0.5vh;
}
.bodyIndex__ventanas__ventas__buscadorTabla__tabla {
  background-color: burlywood;
  width: 100%;
  height: auto;
  border: 0.5vh solid black;
  border-radius: 0.5vh;
}
.bodyIndex__ventanas__ventas__buscadorTabla__tabla__headerScroll {
  background-color: chocolate;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 98% 2%;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  padding: 1vh 0vh;
  font-size: 10px;
  font-family: "Roboto Mono", monospace;
  border-bottom: 0.3vh solid black;
  text-align: center;
}
.bodyIndex__ventanas__ventas__buscadorTabla__tabla__headerScroll__header {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr 1.5fr 1fr;
  grid-template-rows: 1fr;
}
.bodyIndex__ventanas__ventas__buscadorTabla__tabla__headerScroll__header__prop {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 0.3vh solid black;
}
.bodyIndex__ventanas__ventas__buscadorTabla__tabla__headerScroll__scroll {
  width: 100%;
  height: auto;
}
.bodyIndex__ventanas__ventas__buscadorTabla__tabla__tablaListaVentas {
  width: 100%;
  height: 55vh;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.bodyIndex__ventanas__ventas__buscadorTabla__tabla__tablaListaVentas__ventas {
  background-color: wheat;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr 1.5fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  padding: 1vh 0vh;
  font-size: 7.5px;
  font-family: "Roboto Mono", monospace;
  border-bottom: 0.3vh solid black;
}
.bodyIndex__ventanas__ventas__buscadorTabla__tabla__tablaListaVentas__ventas:hover {
  background-color: chocolate;
}
.bodyIndex__ventanas__ventas__buscadorTabla__tabla__tablaListaVentas__ventas__prop {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 0.3vh solid black;
}
.bodyIndex__ventanas__ventas__buscadorTabla__tabla__tablaListaVentas__ventas__detalle {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 0.3vh solid black;
}
.bodyIndex__ventanas__ventas__buscadorTabla__tabla__tablaListaVentas__ventas__detalle__prop {
  width: 60%;
  height: 3vh;
  font-size: 7px;
  font-weight: bold;
  border-radius: 0.3vh;
  border-color: black;
  border-radius: 0.3vh;
}
.bodyIndex__ventanas__acercaDe {
  background-color: darkolivegreen;
  width: 90%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5vh solid darkslategray;
  border-radius: 0.5vh;
  box-shadow: 0px 0px 0px 2px;
  display: none;
}
.bodyIndex__ventanas__acercaDe__datosEmpresa {
  width: 90%;
  height: auto;
  border: 0.5vh solid black;
  border-radius: 0.5vh;
}
.bodyIndex__ventanas__acercaDe__datosEmpresa__titulo {
  background-color: chocolate;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-family: "Roboto Mono", monospace;
  border-bottom: 0.5vh solid black;
}
.bodyIndex__ventanas__acercaDe__datosEmpresa__divDatos {
  background-color: wheat;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.bodyIndex__ventanas__acercaDe__datosEmpresa__divDatos__datos {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
  font-family: "Roboto Mono", monospace;
  padding: 7vh 0vh;
  gap: 2vh;
}
.bodyIndex__ventanas__acercaDe__datosEmpresa__divDatos__datos__br {
  background-color: black;
  width: 80%;
  height: 0.3vh;
}

.popUpAlerts {
  background-color: chocolate;
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4vh 1vh;
  border: 0.5vh solid black;
  border-radius: 0.5vh;
  font-family: "Roboto Mono", monospace;
  gap: 3vh;
  display: none;
}
.popUpAlerts__btnInput {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
}
.popUpAlerts__btnInput__btn {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.popUpAlerts__btnInput__btn__prop {
  width: 70%;
  height: auto;
  background-color: wheat;
  font-family: "Roboto Mono", monospace;
  border: 0.5vh solid black;
  border-radius: 0.5vh;
}
.popUpAlerts__btnInput__inputCerrarPopUp {
  background-color: chocolate;
  width: 1%;
  height: 1px;
  position: absolute;
  top: 70%;
  left: 50%;
  border: none;
  z-index: 1;
  display: none;
}

.ulBuscadorProducto {
  background-color: wheat;
  width: 49%;
  height: auto;
  list-style: none;
  border: 0.5vh solid black;
  position: absolute;
  top: 11.2%;
  display: none;
}
.ulBuscadorProducto__li {
  border-bottom: 0.3vh solid black;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  padding-left: 1vh;
}
.ulBuscadorProducto__li:hover {
  background-color: chocolate;
}

.ulBuscadorProductoVP {
  background-color: wheat;
  width: 37.5%;
  height: auto;
  list-style: none;
  border: 0.5vh solid black;
  position: absolute;
  top: 26.5%;
  display: none;
}
.ulBuscadorProductoVP__li {
  border-bottom: 0.3vh solid black;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  padding-left: 1vh;
}
.ulBuscadorProductoVP__li:hover {
  background-color: chocolate;
}

.filtro {
  display: none;
}/*# sourceMappingURL=main.css.map */